{{#partial "content"}}
   <h5>Hero name:</h5>
   <p>{{ hero.name}}</p>
   <p>Hero's age:</p>
   <p>{{ hero.age}}</p>
   <p>Hero power:</p>
   <p>{{ hero.power}}</p>
   <p>Hero's age:</p>
   <p>{{ hero.weakness}}</p>
{{/partial}}

{{> layout.hbs}}