{{#partial "content"}}

   <h1> heroes List!</h1>

   {{#if heroes}} <!--if posts exist, then -->
       {{#each heroes }} <!--loop-->
        <p>Current Hero:</p>
        <p>name: {{ name }}<a href="/heroes/{{id}}">read more...</a></p></p>
       {{/each}}
   {{else}} <!--no posts!-->
    <p>No Hero!</p>
   {{/if}}
{{/partial}}

{{> layout.hbs}}